<header>
    <div class="container">
        <a href="/" class="logo">QuickRentals</a>
        <nav>
            <a href="/">Home</a>
            <a href="/listings">All Listings</a>
            <a href="/search">Search</a>
            <a href="/add-listing">Add Listing</a>
        </nav>
        <div class="user-info">
            <span>Deep - N01679203</span>
        </div>
    </div>
</header>